# Decided the attribute for this file should be at the top with "text eol=input"
/.gitattributes         text eol=input

# Ones that do NOT start with / or have wild cards in them.
*.patch                 text eol=input

## Copied some of the wxWidgets file
# Windows-specific files that require CRLF:

*.bat       eol=crlf
*.bcc       eol=crlf
*.dsw       eol=crlf
*.gcc       eol=crlf
*.props     eol=crlf
*.rc        eol=crlf
*.sln       eol=crlf
*.vc        eol=crlf
*.vcproj    eol=crlf
*.vcxproj   eol=crlf

# Unix-specific files that require LF:

*.h.in       eol=lf
*.m4         eol=lf
*.sh         eol=lf
configure.in eol=lf
Makefile.am  eol=lf
Makefile.in  eol=lf
makefile.unx eol=lf

config.guess eol=lf
config.sub   eol=lf
configure    eol=lf
configure.in eol=lf


# Declare files that will always have LF line endings on checkout.
*.cbp           text eol=lf
*.workspace     text eol=lf
